<nav class="navbar navbar-expand-lg navbar-light bg-light mt-2 mb-2">
    <div class="container-fluid">
        <a class="navbar-brand">CRUD Personas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/lista" [routerLinkActive]="['active']">Listado</a>
                </li>
                <li *ngIf="srvAuth.rolLevel > 4" class="nav-item">
                    <a class="nav-link" routerLink="/contabilidad" [routerLinkActive]="['active']">Contabiliadad</a>
                </li>
                <li *ngIf="srvAuth.rolLevel > 4" class="nav-item">
                    <a class="nav-link" routerLink="/ventas" [routerLinkActive]="['active']">Ventas</a>
                </li>
            </ul>


            <div class="d-flex">
                <div class="navbar-nav me-auto mb-2 mb-lg-0">
                    <span *ngIf="!(isUserLoggedIn$ | async)">
                        <button mat-button (click)="logInForm('newUser'); (false)">Crear usuario</button>
                        <button mat-button (click)="logInForm('login'); (false)">Iniciar sesión</button>
                    </span>
                    <span *ngIf="(isUserLoggedIn$ | async)">
                        <button mat-button [matMenuTriggerFor]="menu">
                            <mat-icon aria-hidden="false" aria-label="Usuario" fontIcon="account_circle"></mat-icon>
                            {{jwtDAta.data.email}}
                        </button>
                        <mat-menu #menu="matMenu">
                            <span mat-menu-item>Nivel: {{jwtDAta.data.role}}</span>
                            <span mat-menu-item>token: {{token}}</span>                            
                            <hr>
                            <button mat-menu-item (click)="logOut(); (false) " style='color:orange;'>Cerrar
                                sesión</button>
                        </mat-menu>
                    </span>

                </div>

            </div>



        </div>
    </div>
</nav>