<div class="container">
    <div>
        <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ej. ium" #input>
        </mat-form-field>

    </div>

    <div class="container-flex">

        <table mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter">

            <!-- nombre Column -->
            <ng-container matColumnDef="nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre">
                    Nombre
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.nombre}} </mat-cell>
            </ng-container>

            <!-- email Column -->
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> eMail
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>

            <!-- salario Column -->
            <ng-container matColumnDef="salario">
                <mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by salario"> Salario
                </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.salario|number}} </mat-cell>
            </ng-container>

            <!-- created_at Column -->
            <ng-container matColumnDef="created_at">
                <mat-header-cell *matHeaderCellDef> Creado el </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.created_at}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>

        </table>
    </div>

    <div class="d-flex justify-content-around mt-3 ">
        <button mat-raised-button>Basic</button>

        <button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'table'})">Export to
            xlsx</button>
        <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('csv')">Export To
            csv</button>
        <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('json')">Export To
            json</button>
        <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('txt')">Export To
            txt</button>
    </div>



    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>


</div>